# fly.toml app configuration file generated for wolffia on 2025-12-14T11:03:44Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'wolffia'
primary_region = 'bom'

[build]

[[mounts]]
  source = 'data'
  destination = '/app/data'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024